<div class="container">
  <form class="form-horizontal" [formGroup]="categoryform">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Name:</span>
        </div>
        <div class="input-group-prepend">
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="error" *ngIf="!categoryform.get('name').valid && categoryform.get('name').touched">
          Name is required.
        </div>
      </div>
    </div>
    <hr>

    <h5>{{msg}}</h5>
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onSubmit()" type="button">Create</button> |
      <button class="btn btn-warning" (click)="onCancel()" type="button">Cancel</button>
    </div>
  </form>


  <input [(ngModel)]="category.name">
  <button class="btn btn-primary" (click)="ngSubmit()" type="button">submit</button> 
</div>