<form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
  <fieldset formGroupName="name">
    <div class="form-group" [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">
      <label>First Name</label>
      <input type="text" 
            class="form-control"
            formControlName="firstName"
            required>
      <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
        <p class="text-warning" *ngIf="firstName.errors.required">First Name is required</p>
      </div>
      <!--
        <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
        <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
      -->
    </div>
    <div class="row flex">
<button class="btn btn-primary" type="submit">submit</button>
<button class="btn btn-warning" (click)="onCancel()" type="button">cancel</button>
</div>
    <div id="circle"></div>
    <button class="btn" (click)="doIt()">Do It</button>
  </fieldset>
</form>